#mens_shoes {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  transform: translateY(3rem);
  height: 100vh;
  width: 100%;
}
@media (max-width:600px) {
  #mens_shoes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    transform: translateY(3.6rem);
  }
}
.top_header {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}
.top_header p {
  border-bottom: 1px solid black;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main_img {
  position: relative;
  overflow: hidden;
  min-height: calc(100% - 15vh);
  width: 100%;
  background-color: rgba(255, 119, 0, 0.413);
  display: flex;
  justify-content: center;
}
@media (max-width:600px){
  .main_img {
    min-height: 25%;
  }
}
.main_img .darken {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.196);
}
.darken div {
  transform: translateY(10rem);
  width: 100%;
  text-align: center;
}
.darken div h1 {
  font-size: 4rem;
  color: white;
  padding-bottom: 1rem;
}
.darken div p {
  color: aliceblue;
  font-size: 1.7rem;
}
@media (max-width:600px){
  
  .darken div {
    transform: translateY(3rem);
    width: 100%;
    text-align: center;
  }
  .darken div h1 {
    font-size: 3rem;
    color: white;
    font-weight: 100;
    padding-bottom: 1rem;
  }
  .darken div p {
    color: aliceblue;
    font-size: 1rem;
  }
}
.main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
/* --------------------------shoes css 👇------------------------------------- */
.show_collection {
  min-height: 100%;
  width: 100%;
  padding: 0 1vw;
}
.filter_header {
  height: 6.5rem;
  width: 100%;
  display: flex;
  font-weight: 600;
  padding: 0 1vw;
  justify-content: space-between;
}
.filter_header .left {
  height: 100%;
  width: 20%;
  display: flex;
}
.filter_header .left div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter_header .left h3 {
  font-size: 1vw;
  font-weight: 300;
}
.filter_header .left div:nth-child(1) h3 {
  font-size: 1vw;
  border-bottom: 1px solid black;
}
@media (max-width:600px) {
  .filter_header .left {
    width: 50%;
  }
  .filter_header .left h3 {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .filter_header .left div:nth-child(1) h3 {
    font-size: 0.8rem;
    border-bottom: 1px solid black;
  }
}
.filter_header .left div:nth-child(2) {
  width: 5%;
  border-bottom: none;
}

.filter_header .right {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  font-size: 1.3rem;
}
@media (max-width:600px){
  .filter_header .right {
    width: 50%
  }
}
/* ---filter-box👇-------------------------------------------------------- */
.filtersContainer {
  display: flex;
  gap: 20px;
}

.dropdownWrapper {
  position: relative;
  cursor: pointer;
}

.dropdownTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.7rem;
  font-weight: 500;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
  min-width: 20px;
  padding: 8px 0;
}
@media (max-width:600px){
  .dropdownContent {
    position: absolute;
    top: 100%;
    left: -10%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    max-width: 80px;
    padding: 8px 0;
  }
}

.dropdownItem {
  padding: 10px 1px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
/* ---------------------card css------------------------------------ */
.cards {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 26vw;
  /* background-color: bisque; */
}
@media (max-width:600px){
  .cards {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 36rem;
  }
}
.card {
  margin: 1rem 0;
}
.card:hover{
  z-index: 999;
}
.card_data {
  height: 100%;
  width: 100%;
  border-right: 1px solid green;

}
.item_imgs {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
.show_img {
  border-bottom:1px solid grey;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.show_img div i {
  width: fit-content;
  font-weight: 100;
  font-size: 1rem;
}
.show_img_data {
  top: 96%;
  left: 0%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 26%;
  width: 100%;
  opacity: 1;
  border-bottom: 1px solid black;
  background-color: rgb(255, 255, 255);
}
.second { 
  position: relative;
  width: fit-content;
  height: 1.6rem;
  transition: all ease 3s;
}
.second::after{
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.second:hover::after{
  width: 100%;
}
.show_img_data h1{
  font-size: 1.4rem;
}
.show_img_data a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  border-bottom: 1px solid black;
}
.img_box{
  height: 100%;
  width: 100%;
  padding-bottom: 4rem;
}
.img_box i{
    position: fixed;
    z-index: 99;
}

.item_imgs:hover .show_img,.show_img_data {
  opacity: 1;
  z-index: 1;
}
@media(max-width:600px){
  .item_imgs:hover .show_img,.show_img_data {
    opacity: 0;
    z-index: 1;
  }
   .show_img_data {
    opacity: 1;
    z-index: 1;
  }
}
.card_data .item_imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* -------------------------------------- */
.heart_box{
  height: 5vh;
  width: 100%;
  display: flex;
  padding: 0 1vw;
  justify-content: end;
  align-items: center;
}
.heart{
  height: 1rem;
  width: 1rem;
}