
.product{
    height: 100vh;
    width: 100%;
    padding-top: 4vw;
    position: relative;
}
@media (max-width:600px){
    .product{
        height: 135vh;
        padding-top: 0;
    }
}
.card{
    position: relative;
    height: 92vh;
    width: 50vw;
}
.shoesimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:600px){
    .card{
        width: 100vw;
    }
    .shoesimg{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.shoeSize{
    position: relative;
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shoeSize .Box{
    position: absolute;
    right:-87% ;
    height: 30rem;
    width: 20rem;
    border-radius: 20px;
    background-color: white;
}
.shoeSize .Box::before{
    position: relative;
    content: var(--dynamic);
    color: rgb(255, 255, 255);
    top: 50%;
    left: -3%;
    transform: translate(-50%);
}
.shoeSize i{
    cursor: pointer;
    height: 60%;
    font-size: 1.5rem;
}
.overlapping{
    height: 24rem;
    width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 99;
    border-radius: 5px;
    padding: 2rem 2rem 1rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.244);
    transition: all 0.3s ease-in;
}
@media (max-width:600px){
  .overlapping{
    top: 70%;
    width: 24rem;
  }
  .overlapping h1{
    font-size: 1.2rem;
    font-weight: 100;
  }
  .overlapping h2{
    font-size: 1.5rem;
    font-family: 'gucciFont';
    font-weight: 100;
  }
}
.overlapping:hover{
    pointer-events: none;
    background-color: rgb(231, 231, 231);
}

@media (hover:hover) {
    .overlapping:hover{
        background-color: rgb(231, 231, 231);
    }
}
@media (hover:none) {
    .overlapping{ 
        background-color: white;
    }
}
.overlapping button{
    display: flex;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: black;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem ;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.overlapping button:hover {
    scale: 102%;
}
.overlapping button:active {
    scale: 100%;
}
.darkBG{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.345);
    top: 0;
    left: 0;
}
@media(max-width:600px){
    .darkBG{
        background-color: rgba(0, 0, 0, 0);
    }
}

.fullimg{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}
.fullimg::after{
    content: '';
    display: var(--display);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: 100vw;
    background-image: var(--url);
    /* these two value change and make img move and zoom */
    background-position: 50% var(--y);
}


.fullimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.imgNav{
    position: absolute;
    z-index: 999;
    height: 6rem;
    padding:  0 2rem;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.imgNav i{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50px;
    border: 1px solid rgb(165, 165, 165);
    font-size: 2rem;
}