.page1{
    height: 100vh;
    width: 100%;
    margin-bottom: 6vw;
    z-index: 99;
}
.page1 img{
    position: relative;
    width: 100%;
}
.explorebtn{
    z-index: 99;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 4vw;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.explorebtn button{
    font-size: 0.6vw;
    font-weight: 100;
    text-transform: uppercase;
    padding: 4% 10%;
    border: 2px solid rgb(49, 49, 216);
    border-radius: 10px;
    background: white;
}
@media (max-width:600px) {
    .page1{
        height: 104vh;
    }
    .page1 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 55% 0;
    }
    .explorebtn{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        height: 30vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .explorebtn h1{
        font-size: 7vw;
    }
    .explorebtn button{
        font-size: 4vw;
        font-weight: 100;
        text-transform: uppercase;
        padding: 6vw 10vw;
        border: 2px solid rgb(80, 80, 208);
        border-radius: 4px;
        background: white;
    }
}