@font-face {
    font-family: "gucciFont";
    src: url("../public/font/Granjon Roman.otf");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
html,body{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: "gucciFont";
}
.point{
    height: 12px;
    width: 12px;
    z-index: 9;
    border-radius: 50px;
    background-color: rgba(75, 75, 75, 0.33);
    position: fixed;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 5px 5px rgba(211, 211, 211, 0.5);
}
@media (max-width:800px){
    .point{
        display: none;
    }
}

